.snakemake
results
data
log
ext_tools
busco_lineage
info
old
seq_EGYPTREF
seq_GRCh38
align_lastz
busco_EGYPTREF
busco_GRCh38
repeatmasked_EGYPTREF
repeatmasked_GRCh38
align_lastz_GRCh38_vs_EGYPTREF
environment_versions.yaml
slurm-*
tmp*
align_mummer_GRCh38_vs_EGYPTREF
bwa_index
dbsnp_GRCh38
illumina_qc
map_bwa_GRCh38
map_bwa_EGYPTREF
variants_GRCh38
annotations
