.snakemake
results
data
log
novogene
1000_genomes
ext_tools
busco_lineage
info
old
seq_*
align_lastz
busco_EGYPTREF
busco_GRCh38
repeatmasked_*
align_lastz_*
nucdiff_GRCh38_*
genotype_pcs*
gene_centric*
environment_versions.yaml
slurm-*
tmp*
align_mummer_GRCh38_vs_EGYPTREF
bwa_index
dbsnp_GRCh38
illumina_qc
map_bwa_GRCh38
map_bwa_EGYPTREF
variants_GRCh38
annotations
